@import url('https://fonts.googleapis.com/css2?family=Kurale&family=Poppins:wght@300;500&family=Roboto&display=swap');
*{
  margin: 0;
  padding: 0;
}
body{
  font-family: 'Roboto', sans-serif;
  background-color: black;
  color: white;
}